.py-42 {
  padding-block: 42px;
}
.py-10 {
  padding-block: 10px;
}

.opacity-0 {
  & .right,
  .rightWrapper,
  .left,
  .leftWrapper {
    opacity: 1;
  }
}

.mt-33 {
  margin-top: 33px;
}

.mt-10 {
  margin-top: 10px;
}

.gap-5 {
  gap: 5px;
}
.separador {
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
}

.separador-stop {
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
}

.timer-input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 40px;
  font-size: 32px;
  line-height: 52px;
  height: 40px;
  text-align: center;
}

.text-ready {
  font-size: 12px !important;
  font-weight: 400;
}
.mt-18 {
  margin-top: 18px;
}

.icono {
  font-size: 14px;
  width: 14px;
  height: 14px;
}

.mt-51 {
  margin-top: 51px;
}

.mt-31 {
  margin-top: 31px;
}

.width-button {
  width: 240px;
}
.timer-input::-webkit-outer-spin-button,
.timer-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.width-button-pause {
  --mat-outlined-button-horizontal-padding: 8px;
  width: 116px;
}

.gap-16 {
  gap: 16px;
}

.green {
  .spinner::before {
    content: "";
    border: 6px solid #95e5ac;
  }

  .circle {
    border: 6px solid #366d46;
  }
}
