<mat-toolbar class="px-12 py-8 bg-primary justify-content-end">
  <div class="row align-items-center gap-6">
    <h3 class="text-right color-white">
      ¡Hola Usuario! <br />
      Impulsa tu productividad hoy.
    </h3>
    <img width="40" src="/images/avatar.png" alt="avatar" />
  </div>
</mat-toolbar>

<section class="py-42 column align-items-center">
  @if(!starPomodoro){
  <div class="py-10">
    <h2 class="color-primary-10">Tarea 1</h2>
  </div>
  }

  <div [ngClass]="{ 'mt-10 green': isStartBreak, 'mt-33': !starPomodoro }">
    <div [class.opacity-0]="mostrarCargando" class="spinner">
      <div class="leftWrapper">
        <div class="left">
          <div class="circle"></div>
        </div>
      </div>
      <div class="timer">
        <div
          class="column align-items-center justify-content-center height-100"
        >
          <div class="column align-items-center gap-5">
            <h3 class="color-tertiary">Focus</h3>
            @if (!isRunning ) {
            <div class="row align-items-center" [formGroup]="form">
              <input
                class="timer-input"
                formControlName="minutes"
                type="number"
              />
              <p class="separador">:</p>
              <input
                class="timer-input"
                formControlName="seconds"
                type="number"
              />
            </div>
            <p class="text-ready color-primary-10">¿Ready?</p>
            } @else {
            <div class="row align-items-center">
              <p class="timer-input">{{ minutes }}</p>
              <p class="separador-stop">:</p>
              <p class="timer-input">{{ seconds }}</p>
            </div>
            }
          </div>
        </div>
      </div>
      <div class="rightWrapper">
        <div class="right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>

  @if(starPomodoro){
  <div class="mt-26">
    <p class="mat-body-2 text-center width-text">
      ¡Es hora de concentrarse! Inicia tu Pomodoro y enfócate durante 25
      minutos.
    </p>
  </div>
  }@else{
  <div class="mt-18">
    <p class="mat-body-2">{{ statusText }}</p>
  </div>
  }

  <div [class.mt-31]="isStartBreak" class="mt-51">
    @switch (statusFocus) { @case (TaskStatus.startTask) { @if(starPomodoro){
    <div class="width-button">
      <button class="width-100" mat-flat-button (click)="startBreak()">
        Comenzar pomodoro
        <mat-icon iconPositionEnd class="color-white icono mat-icon-outlined"
          >play_arrow</mat-icon
        >
      </button>
    </div>
    }@else{
    <div class="width-button">
      <button class="width-100" mat-flat-button (click)="startTask()">
        Comenzar tarea
        <mat-icon iconPositionEnd class="color-white icono mat-icon-outlined"
          >play_arrow</mat-icon
        >
      </button>
    </div>
    } } @case (TaskStatus.running) {
    <div>
      <div class="row width-100 gap-16 align-items-center">
        <button
          class="width-button-pause"
          (click)="toggleTimer()"
          mat-flat-button
        >
          Pausa
          <mat-icon iconPositionEnd class="color-white">pause</mat-icon>
        </button>
        <button
          class="width-button-pause"
          (click)="startBreak()"
          mat-stroked-button
        >
          Continuar
          <mat-icon iconPositionEnd class="icono mat-icon-outlined"
            >play_arrow</mat-icon
          >
        </button>
      </div>
    </div>
    } @case (TaskStatus.startBreak) {
    <div>
      <div class="column width-100 gap-16 align-items-center width-button">
        <button class="width-100" (click)="toggleTimer()" mat-flat-button>
          Comenzar descanso
          <mat-icon iconPositionEnd class="color-white icono mat-icon-outlined"
            >play_arrow</mat-icon
          >
        </button>
        <button (click)="openDialog()" class="width-100" mat-stroked-button>
          Omitir descanso
          <mat-icon iconPositionEnd class="icono mat-icon-outlined"
            >play_arrow</mat-icon
          >
        </button>
      </div>
    </div>
    } }
  </div>
</section>
