mat-drawer-container {
  min-height: 100vh;
}

.pt-40 {
  padding-top: 40px;
}

.pb-30 {
  padding-bottom: 30px;
}

.px-42 {
  padding-inline: 42px;
}

.gap-46 {
  gap: 46px;
}

.px-0 {
  padding-inline: 0;
}

.gap-19 {
  gap: 19px;
}

.mat-drawer {
  position: fixed;
}
