$primary: (
  0: #000000,
  10: #001c38,
  20: #1b72c0,
  25: #1a3f51,
  30: #1c4c68,
  35: #345769,
  40: #1c4c68,
  //#426F87
  50: #6f92a6,
  60: #9fb7c2,
  70: #3480b1,
  80: #5099c0,
  90: #77b1ce,
  95: #a4cce0,
  98: #f5faff,
  99: #d3e4ff,
  100: #ffffff,
);

$secondary: (
  0: #000000,
  10: #1ea9a4,
  20: #53e5e0,
  30: #77b1ce,
  40: #77b1ce,
  //#ABD4D3
  50: #6f92a6,
  60: #a1edeb,
  70: #c5f9f7,
  80: #dafffe,
  90: #a4cce0,
  95: #d6fffe,
  99: #8fa796,
  100: #b1cdb9,
);

$tertiary: (
  0: #000000,
  10: #0e1a11,
  20: #366d46,
  25: #004617,
  30: #95e5ac,
  35: #95e5ac,
  //#006023
  40: #c6f0d2,
  50: #2aca59,
  60: #bbd5c3,
  70: #399654,
  80: #a5f8bd,
  90: #daf9e3,
  95: #c8ead2,
  98: #ebffe7,
  99: #edfdf2,
  100: #ffffff,
);

$neutral: (
  0: #000000,
  10: #1c1b1c,
  20: #313030,
  30: #484646,
  40: #484646,
  //#605E5E
  50: #797676,
  60: #939090,
  70: #adaaaa,
  80: #c9c6c5,
  90: #e9eaec,
  95: #f4f0ef,
  99: #f3f4f9,
  100: #ffffff,
);

$gris: (
  (
    0: #000000,
    10: #201a1b,
    20: #352f30,
    25: #413a3b,
    30: #1c4c68,
    35: #585052,
    40: #645c5e,
    50: #a4cce0,
    60: #988e90,
    70: #b3a9aa,
    80: #cfc4c5,
    90: #fff,
    95: #faeeef,
    98: #fff8f8,
    99: #fffbff,
    100: #ffffff,
  )
);
$_palettes: (
  primary: $primary,
  secondary: $secondary,
  tertiary: $tertiary,
  neutral: $neutral,
  gris: $gris,
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

:root {
  --mdc-outlined-text-field-input-text-placeholder-color: #1d1b2066;
  --mat-checkbox-label-text-color: #000000;
}
