@import "./colores.scss";
.bg-primary-95 {
  background: map-get($primary, 95);
}

.color-primary {
  color: map-get($primary, 40);
}

.bg-tertiary {
  background: map-get($tertiary, 30) !important;
}

.icon-button-primary {
  background-color: map-get($primary, 40) !important;
  color: #fff !important;
}

.icon-button-grey {
  background-color: #dadada !important;
  color: #000 !important;
}
