@use "@angular/material" as mat;
@include mat.core();

:root {
  --mdc-checkbox-state-layer-size: 0;
  --mdc-filled-button-container-height: 56px;
  --mdc-list-list-item-one-line-container-height: 56px;
  --mdc-filled-button-label-text-size: 20px;
  --mdc-outlined-button-container-height: 56px;
  --mat-toolbar-standard-height: 56px;
  --mdc-switch-track-width: 40px;
  --mat-switch-with-icon-handle-size: 14px;
  --mat-switch-selected-handle-size: 14px;
  --mdc-switch-unselected-icon-size: 14px;
  --mdc-switch-state-layer-size: 14px;
  --mdc-switch-selected-icon-size: 14px;

  --mdc-switch-track-width: 40px;
  --mdc-switch-track-height: 22px;
  --mdc-switch-handle-width: 14px;
  --mdc-switch-handle-height: 14px;
  --mdc-switch-state-layer-size: 30px;
  --mat-switch-selected-with-icon-handle-horizontal-margin: 0 -4px;
  --mdc-switch-state-layer-size: 14px;

  //mobile
  --mat-toolbar-mobile-height: 64px;
}

.mdc-checkbox,
.mdc-checkbox__background,
.mat-mdc-checkbox-touch-target {
  flex: auto !important;
  width: 12px !important;
  height: 12px !important;
}
