$h3: mat.m2-define-typography-level(
  $font-size: 20px,
  $font-weight: 600,
);

h4 {
  font-weight: 500 !important;
  font-size: 20px !important;
}

$typography-global-config: mat.m2-define-typography-config(
  $font-family: "Roboto",
  $headline-5:
    mat.m2-define-typography-level(
      $font-weight: 600,
      $font-size: 24px,
    ),
  $headline-6:
    mat.m2-define-typography-level(
      $font-weight: 400,
      $font-size: 22px,
    ),
  $subtitle-1:
    mat.m2-define-typography-level(
      $font-size: 20px,
      $font-weight: 600,
    ),
  $subtitle-2:
    mat.m2-define-typography-level(
      $font-weight: 500,
      $font-size: 20px,
    ),
  $body-1:
    mat.m2-define-typography-level(
      $font-weight: 400,
      $font-size: 18px,
    ),
  $body-2:
    mat.m2-define-typography-level(
      $font-weight: 400,
      $font-size: 12px,
    ),
  $button:
    mat.m2-define-typography-level(
      $font-weight: 500,
      $font-size: 20px,
    ),
);
a {
  font-size: 20px;
  font-weight: 500;
}
