<section class="heigth-100-mobile">
  <router-outlet></router-outlet>

  <div class="navigation-bar bg-surface-azul">
    <mat-nav-list class="row">
      <div
        class="column gap-4 pt-12 pb-16 width-50 align-items-center container"
        routerLinkActive="active"
        routerLink="./Focus"
      >
        <div
          class="row align-items-center justify-content-center icon-container"
        >
          <mat-icon>schedule</mat-icon>
        </div>
        <p class="button-small">Focus</p>
      </div>

      <div
        class="column gap-4 pt-12 pb-16 width-50 align-items-center container"
        routerLinkActive="active"
        routerLink="./Tareas"
      >
        <div
          class="row align-items-center justify-content-center icon-container"
        >
          <mat-icon>list</mat-icon>
        </div>
        <p class="button-small">Tareas</p>
      </div>
    </mat-nav-list>
  </div>
</section>
