<section class="bg-modal column align-items-center">
  <h1 mat-dialog-title>Omitir descanso</h1>
  <mat-dialog-content class="mt-8">
    <h3>
      ¿Seguro que quieres omitir el descanso? Recuerda que tomar pausas
      regulares mejora tu enfoque y productividad.
    </h3></mat-dialog-content
  >
  <mat-dialog-actions class="width-100" align="end">
    <div class="row align-items-center gap-8">
      <button
        [mat-dialog-close]="true"
        cdkFocusInitial
        mat-dialog-close
        mat-button
      >
        Aceptar
      </button>
      <button mat-dialog-close mat-button>Cancelar</button>
    </div>
  </mat-dialog-actions>
</section>
