.width-input {
  width: 78.5%;
}

.gap-13 {
  gap: 13px;
}

.px-6 {
  padding-inline: 6px;
}

.gap-42 {
  gap: 42px;
}

.mat-button {
  font-size: 14px;
  font-weight: 400;
  height: 20px;
}

a {
  color: #1c4c68;
}

.py-42 {
  padding-block: 42px;
}

mat-checkbox {
  height: 16px;
}
