.gap-25 {
  gap: 25px;
}

.width-input {
  width: 78.5%;
}

.px-6 {
  padding-inline: 6px;
}

.gap-4 {
  gap: 4px;
}

.gap-7 {
  gap: 7px;
}

.gap-42 {
  gap: 42px;
}

.mat-button {
  font-size: 14px;
  font-weight: 400;
  height: 20px;
}

a {
  font-size: 14px;
  font-weight: 400;
  color: #1c4c68;
}

mat-checkbox {
  height: 16px;
}
