<div class="column gap-52 align-items-center">
  <div class="row justify-content-between align-items-center width-100">
    <h3 class="color-primary">Reportes</h3>
    <p class="text">07 de Septiembre, 2024 &nbsp; &nbsp; 01:22 pm</p>
  </div>
  <div class="column gap-42 align-items-center width-100">
    <mat-toolbar
      class="justify-content-between bg-tertiary radius-4 width-toolbar"
    >
      <button mat-icon-button>
        <mat-icon>navigate_before</mat-icon>
      </button>
      <p class="toolbar-text">Septiembre</p>
      <button mat-icon-button>
        <mat-icon>navigate_next</mat-icon>
      </button>
    </mat-toolbar>
    <div class="row justify-content-between align-items-center width-cards">
      <div class="card column card-green align-items-center">
        <p class="cantidad">3</p>
        <p class="mat-body-1">Tareas completadas</p>
      </div>

      <div class="card column card-yellow align-items-center">
        <p class="cantidad">0</p>
        <p class="mat-body-1">Tareas pendientes</p>
      </div>
      <div class="card column card-pink align-items-center">
        <p class="cantidad">12</p>
        <p class="mat-body-1">Total pomodoros</p>
      </div>
    </div>
    <div class="column gap-47 width-100 align-items-center">
      <div class="width-reporte row justify-content-between align-items-center">
        <h4>Registro de pomodoros</h4>
        <a routerLink="./">Descargar reporte</a>
      </div>
      <img
        width="668"
        height="238"
        src="./images/statistics.png"
        alt="estadisticas"
      />
    </div>
  </div>
</div>
